## Assign value to variables

In [1]:
x = 5

In [4]:
x

5

In [15]:
y = 8

In [28]:
Y ## The values will need to be as assigned for example is is capital letter you must use capital letter

NameError: name 'Y' is not defined

In [16]:
print(y)

8

In [17]:
x,y = (1,2)

In [18]:
x

1

In [19]:
y

2

## Type of the variables

In [20]:
x1 = 5

In [21]:
type(x1)

int

In [22]:
x2 = 4.75

In [23]:
type(x2)

float

In [24]:
int(x2)

4

In [25]:
float(5) ## Change the type of values for ex. int to float

5.0

In [29]:
x3 = True ## Always True or False has to be qith capital LETTERS

In [27]:
type(x3)

bool

## Strings

In [30]:
'George'

'George'

In [31]:
"George"

'George'

In [36]:
print('George') ## Print will revome the quotations marks

George

In [33]:
print("George")

George

In [34]:
x4 = 'George'

In [35]:
x4

'George'

In [39]:
y = 10
print(y + " Dollars")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [40]:
y = 10
print(str(y) + " Dollars") ## Specified the type of varible to print

10 Dollars

In [41]:
"I'm fine"

"I'm fine"

In [42]:
'I\'m fine'

"I'm fine"

In [43]:
'Press "Enter"'

'Press "Enter"'

In [44]:
'Red' 'car'

'Redcar'

In [45]:
'Red ' 'car'

'Red car'

In [52]:
print("Red " + "car")

Red car

In [48]:
print('Red', 'car')

Red car

In [49]:
print(3,5)

3 5

In [50]:
3,5,6.9,7.0,'car'

(3, 5, 6.9, 7.0, 'car')

In [54]:
print("'Big " + "Houses'")
print('Big', 'Houses')

'Big Houses'
Big Houses