## List

In [1]:
Participants = ['John', 'Leila', 'Gregory', 'Cate']
Participants

['John', 'Leila', 'Gregory', 'Cate']

In [3]:
print(Participants[1])

Leila

In [4]:
Participants[-1]

'Cate'

In [6]:
Participants[3] = "Maria" ## Replace
Participants

['John', 'Leila', 'Gregory', 'Maria']

In [8]:
del Participants[2] ## Delete
Participants

['John', 'Leila']

## Add elemets to a list

In [14]:
Participants.append('Louis') ## Add elemets to a list
Participants

['John', 'Leila', 'Louis']

## Extend to a list

In [16]:
Participants.extend(['Jesus','Miguel'])
Participants

['John', 'Leila', 'Louis', 'Jesus', 'Miguel']

## Length of a list

In [17]:
len(Participants)

5

## List Slicing

In [18]:
Participants1 = ['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Cahterine']

In [19]:
Participants1

['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Cahterine']

In [20]:
Participants1[1:3]

['Leila', 'Maria']

In [21]:
Participants1[:2]

['John', 'Leila']

In [22]:
Participants1[4:]

['George', 'Cahterine']

In [24]:
Participants1[-2:]

['George', 'Cahterine']

In [25]:
Participants1.index("Maria") ## Find the position of a variable in a list

2

In [26]:
Newcomers = ['Joshua', 'Brittany']
Newcomers

['Joshua', 'Brittany']

In [29]:
Bigger_List = [Participants1, Newcomers] ## Add lists
Bigger_List

[['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Cahterine'],
 ['Joshua', 'Brittany']]

In [31]:
Participants1.sort() ## Arrange in alphabetical order
Participants1

['Cahterine', 'Dwayne', 'George', 'John', 'Leila', 'Maria']

In [33]:
Participants1.sort(reverse=True) ## Reverse order
Participants1

['Maria', 'Leila', 'John', 'George', 'Dwayne', 'Cahterine']

## Tuples

In [34]:
x = (40, 41, 42) ## Tuples can no be add or remove and they use parenthesis
x

(40, 41, 42)

In [35]:
y = 50, 51, 52
y

(50, 51, 52)

In [36]:
a, b, c = 1, 4, 6
c

6

In [37]:
x[0]

40

In [38]:
List_1 = [x,y]
List_1

[(40, 41, 42), (50, 51, 52)]

In [41]:
(age, years_of_school) = "30,17".split(',')
print(age)
print(years_of_school)

30
17

In [43]:
def square_info(x):
    A = x ** 2
    P = 4 * x
    print("Area and Perimeter:")
    return A,P

square_info(9)

Area and Perimeter:

(81, 36)

## Dictionaries

In [46]:
dict = {'k1' : "cat",
        'k2' : "dog",
        'k3' : "mouse",
        'k4' : "fish"}
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}

In [47]:
dict['k1']

'cat'

In [48]:
dict['k4']

'fish'

In [49]:
dict['k5'] = "parrot"  ## Add a new variable to our dictionary
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [51]:
dict['k2'] = "squirrel"   ## Reaplce a value
dict

{'k1': 'cat', 'k2': 'squirrel', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [53]:
dep_workers = {'dep_1' : 'Peter',
               'dep_2' : ['Jennifer, Michael, Tommy']}
dep_workers['dep_2']

['Jennifer, Michael, Tommy']

In [55]:
Team = {}    ## How to create a list 
Team['Point Guard'] = 'Dirk'
Team['Shooting Guard'] = 'Al'
Team['Small Foward'] = 'Sean'
Team['Power Foward'] = 'Alexander'
Team['Center'] = 'Hector'

In [56]:
print(Team)

{'Point Guard': 'Dirk', 'Shooting Guard': 'Al', 'Small Foward': 'Sean', 'Power Foward': 'Alexander', 'Center': 'Hector'}

In [57]:
print(Team['Center'])

Hector

In [59]:
print(Team.get('Small Foward'))

Sean

In [60]:
print(Team.get('Coach')) ## Do not produce error if looking for an element

None